@model UniversityCourseAndResultManagementApp.Models.Department
@{
    ViewBag.Title = "SaveDepartment";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Save</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <style>
        .field-validation-error {
            color: red;
        }

        .row {
            margin-bottom: 10px
        }
    </style>
</head>

<body>
    <h3>Department</h3>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Save Department", "SaveDepartment", "Department")</li>
            <li>@Html.ActionLink("View Department", "ViewDepartment", "Department")</li>
            <li>@Html.ActionLink("Save Teacher", "SaveTeacher", "Department")</li>
        </ul>
    </div>
    <br />
    <br />
    <div class="container">
        @using (Html.BeginForm(new { @class = "form-horizontal" }))
        {
            <h4>Save Department</h4>
            <hr/>
            <div class="row">
                @Html.LabelFor(m => m.Code, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Code)
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(m => m.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            </div>
            <label>@ViewBag.msg</label>
        }
    </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>

    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</body>
</html>
