@{
    ViewBag.Title = "ViewCourseStatics";
}

    <h3>Courses</h3>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Save Course", "SaveCourse", "Course")</li>
            <li>@Html.ActionLink("Course Statics", "ViewCourseStatics", "Department")</li>
            <li>@Html.ActionLink("Course Assign Teacher", "CourseAssaignTeacher", "Department")</li>
            <li>@Html.ActionLink("Unassign Courses", "UnassignCourses", "Department")</li>
        </ul>
    </div>
    <br/>
<br/>
<div class="container">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", id = "viewCourseStatics" }))
    {
        <h4>View Course Statics</h4>
        <hr />
        <div class="form-group">
            <label class="col-md-2" for="departmentId">Select Department</label>
            <div class="col-md-4">
                <select class="form-control" name="departmentId" id="departmentId">
                    <option value="">--Select--</option>
                    @foreach (var department in ViewBag.Departments)
                    {
                        <option value="@department.Id">@department.Name</option>
                    }
                </select>
            </div>
        </div>
    }
    <table id="myTable" class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name/Title</th>
                <th>Semester</th>
                <th>Assaigned To</th>
            </tr>
        </thead>
        <tbody id="tableBody"></tbody>
    </table>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#myTable").hide();
            $("#departmentId").change(function () {
                var deptId = $("#departmentId").val();
                $("#myTable").show();
                $("#tableBody").empty();
                var json = { id: deptId };
                $.ajax({
                    type: "POST",
                    url: '/Department/GetCoursesByDepartmentId',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {

                        $.each(data, function (key, value) {


                            $("#tableBody").append('<tr><td>' + value.Code + '</td><td>' + value.Name + '</td><td>' + value.SemName + '</td><td>' + value.TeacherName + '</td></tr>');

                        });
                    }
                });
            });
        });
    </script>
}





